body {
    background-size: 100% auto;
    width: auto;
    height: auto;
}
#register-box {
    width: 30%;
    height: auto;
    margin: 0 auto; 
    margin-top: 15%;
    text-align: center;
    background: #00000090;
    padding: 20px 50px;
}
#register-box h1 {
    color: #fff;
}
#register-box .form .item {
    margin-top:15px;
}
#register-box .form .item i {
    font-size: 18px;
    color: #fff;
}
#register-box .form .item input {
    width: 180px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    background: #ffffff00;
    color: #fff;
}

#register-box button {
    margin-top: 15px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: 0;
    border-radius: 15px;
}



